@charset "utf8";

* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;

}

::selection {
    background-color: #3ab371;
    color: lightgray;
}

:root {
    --main-verde: #4ae28e;
    --main-azul: #597bfe;
}

body {
    font-family: sans-serif;
    transition: 0.5s ease;
}

.dark {
    background-color: #161616;
    color: aliceblue;
}

/*-----------------HEADER-----------------*/
header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 5rem;
    align-items: center;
    box-shadow: -1px -8px 40px #0000006e;
    height: 100px;
    background-color: #ffffffc6;
    backdrop-filter: blur(10px);
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 10000;

    /*-----------------MENU-HAMBURGER-----------------*/
    #menu-btn {
        display: none;
    }

    /*-----------------/MENU-HAMBURGER-----------------*/

    /*-----------------LOGOS-----------------*/
    img {
        width: 120px;
        transition: 0.5s ease;

        &:hover {
            transform: scale(90%);
            cursor: pointer;
        }
    }

    .logoBgBlack {
        display: none;
    }

    .dark .logoBgWhite {
        display: none;
    }

    .dark .logoBgBlack {
        display: grid;
    }

    /*-----------------/LOGOS-----------------*/

    nav {

        margin-right: 3%;
        font-size: 23px;
        display: flex;
    }

    #menu {
        display: block;
    }

    .menu-list {

        display: flex;
        gap: 70px;

        a {
            text-decoration: none;
            color: #000;
            margin-right: 20px;
            font-weight: bold;

            &:hover {
                color: #597bfe;
            }
        }

        li {
            list-style: none;
        }
    }

 /*-----------------DARK-MODE-BTN-----------------*/
    .dark_btn {
        font-size: 30px;
        margin-left: 20px;
        display: flex;

        input {
            display: none;
        }

        .fa-cloud-sun {
            display: none;
        }

        .fa-moon {
            transition: 0.5s ease;

            &:hover {
                color: var(--main-azul);
                cursor: pointer;
            }

            &:active {
                transform: rotateZ(360deg);
            }
        }

    }

    /*-----------------/DARK-MODE-BTN-----------------*/
}

.dark header {
    border-bottom: solid 3px var(--main-verde);
    background-color: #000000bc;

    .logoBgWhite {
        display: none;
    }

    .logoBgBlack {
        display: grid;
    }

    .menu-list a {
        color: aliceblue;

        &:hover {
            color: #4ae28e;
        }
    }

    .fa-cloud-sun {
        display: block;

        &:hover {
            color: var(--main-verde);
            cursor: pointer;
        }

        &:active {
            transform: scale(0.9);
        }
    }

    .fa-moon {
        display: none;
    }
}

/*HEADER para dispositivos móveis*/
@media all and (max-width: 880px) {
    header {
        width: 100%;
        height: 100px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        box-shadow: -1px -8px 40px #0000006e;

        /*-----------------LOGOS-----------------*/
        img {
            width: 120px;

        }

        .logos {
            order: 1;
        }

        nav {
            text-align: center;
            font-size: 23px;
        }

        /*-----------------LOGOS-----------------*/

        /*-----------------menu-hamburger-----------------*/
        #menu-btn {
            display: flex;
            border: none;
            font-size: 25px;
            background-color: #f0f8ff00;

            &:hover {
                color: #597bfe;
                cursor: pointer;
            }
        }

        /*-----------------menu-hamburger-----------------*/

        /*-----------------DARK-MODE-BTN-----------------*/
        .dark_btn {
            font-size: 30px;
            margin-left: 0px;
            order: 2;
        }

        /*-----------------/DARK-MODE-BTN-----------------*/

        #menu {
            position: absolute;
            background-color: #ffffff;
            top: 100px;
            width: 100%;
            height: 100vh;
            right: 0;
            overflow-y: auto;
            display: none;
        }

        .menu-list {
            text-align: left;
            display: block;
            padding: 1rem;
            width: 100%;

            li {
                padding: 20px;
                border-bottom: solid #bebebe 1px;

                &:hover {
                    background-color: #f0f0f0e6;
                }
            }
        }
    }
      .dark header {
        #menu-btn {
            color: #fff;
        }

        #menu {
            background-color: #4ae28e;
        }

        .menu-list li {
            color: black;

            &:hover {
                background-color: #3ab371;
            }
        }
    }
}

/*-----------------/HEADER-----------------*/

/*-----------------MAIN-----------------*/
main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h2 {
        margin-top: 3rem;
        font-size: 30px;
        text-align: center;
        color: #597cff;
        width: 60%;
    }

    .text1 {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        margin-bottom: 3rem;

        section {
            display: flex;
            justify-content: center;
            padding: 1rem 25px;
            width: 60%;

            ul {
                width: 50%;
                padding-left: 40px;
                li {
                    margin-bottom: 1.2rem;
                }
            }

            .imagem {
                width: 300px;
                height: 290px;
                background-image: url(https://i0.wp.com/www.infotecblog.com.br/wp-content/uploads/2022/03/Como-descartar-corretamente-o-lixo-industrial.jpg?fit=700%2C500&ssl=1);
                background-size: cover;
            }

            ul {
                width: 60%;
                margin: 0;

                li {
                    margin: 1.2rem 0;
                }
            }
        }

   }

    p {
        padding: 2rem 30px;
        width: 60%;
    }

    .text2 {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;

        section {
            display: flex;
            flex-direction: row-reverse;
            width: 62%;
            justify-content: center;
            align-items: flex-start;

            p {
                padding: 23px;
                width: 60%;
            }

            .imagem {
                width: 300px;
                height: 300px;
                background-image: url(https://diamundialdalimpeza.com.br/wp-content/uploads/2023/07/Residuos-Industriais.webp);
                background-size: cover;
            }


        }

    }

    .video1 {
            background-color: #925d17;
            width: 100%;
            padding: 3rem;
            margin: 3rem 0;
            display: grid;
            justify-content: center;
        }
}

/*Main para dispositivos móveis*/
@media all and (max-width: 880px) {
    main {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        h2 {
            margin-top: 3rem;
            font-size: 30px;
            text-align: center;
            color: #597cff;
            width: 80%;
        }

        p {
            width: 90%;
            padding: 1rem 2.9rem;
        }


        .text1 {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 100%;

       section {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                width: 80%;

                .imagem {
                    width: 95%;
                }

                ul {
                    width: 90%;
                    padding-left: 40px;

                    li {
                        margin-bottom: 1.2rem;
                    }

                    &:nth-child(4){
                        margin-bottom: 0;
                    }
                }

            }

        }

        .text2 {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 100%;

            section {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                width: 80%;

                .imagem {
                    width: 95%;
                }

                p {
                    margin-top: 1.5rem;
                    width: 95%;
                    padding: 0%;
                }
            }


        }

        .video1 {
            background-color: #7a5524;
            width: 100%;
            padding: 3rem;
            margin: 3rem 0;
            display: grid;
            justify-content: center;
            position: inherit;
            z-index: 10;
           iframe {
                width: 350px;
            }
        }

    }
}

/*-----------------/MAIN-----------------*/



/*---------------FOOTER---------------*/
footer {
    height: 300px;
    background-color: #6fff74;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 3rem;

    & hr {
        border: none;
        background-color: #000;
        width: 90%;
        height: 2px;
    }

    & .tudo {
        margin: 2rem 2rem;
        display: flex;
        justify-content: space-around;
        align-items: first baseline;
        gap: 8rem;
        width: 90%;

        & a {
            text-decoration: none;
            color: #000;

            &:hover {
                text-decoration: underline;
            }
        }

        & h3 {
            margin-bottom: 0.4rem;
        }

        & .voltar {
            display: grid;
            gap: 1rem;
        }

        & .referencias {
            display: grid;
            gap: 1rem;
        }

        & .links_rapidos {
            display: grid;
            gap: 1rem;
        }
    }

    & p {
        margin-bottom: 3rem;
    }
}

.dark footer {
    background-color: #3ab371;
}

/*footer para dispositivos móveis*/
@media all and (max-width: 880px) {
    footer {
        height: 300px;
        background-color: #6fff74;
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 3em;

        & hr {
            border: none;
            background-color: #000;
            width: 90%;
            height: 2px;
        }

        & .tudo {
            margin: 2rem 2rem;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            gap: 2rem;
            width: 90%;
            text-align: center;

            & a {
                text-decoration: none;
                color: #000;

                &:hover {
                    text-decoration: underline;
                }
            }

            & h3 {
                margin-bottom: 0.4rem;
            }

            & .voltar {
                display: grid;
                gap: 0.5rem;
            }

            & .referencias {
                display: grid;
                gap: 0.1rem;
            }

            & .links_rapidos {
                display: grid;
                gap: 0.1rem;
            }
        }

        & p {
            margin-bottom: 3rem;
        }
    }
}

/*---------------/FOOTER---------------*/
